@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}
.hex {
    clip-path: polygon(
      25% 6.7%, 75% 6.7%,
      100% 50%, 75% 93.3%,
      25% 93.3%, 0% 50%
    );
  }
  
  .hex-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 1.2rem;
    justify-items: center;
    padding: 1rem;
  }
  